@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.product__wrapper {
  text-align: center;
}
.product__wrapper__link {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #3858d6;
}
.product__wrapper__title {
  margin-bottom: 65px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #1e1d1d;
}
.product__boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 64px;
}

.prodect__watching {
  position: relative;
  cursor: pointer;
}
.product__watching__img {
  padding: 42px 28px;
  background-color: #f6f6f6;
  transform: 0.5s;
}
.prodect__watching__title {
  margin-top: 11px;
  margin-bottom: 11px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #1e1d1d;
}
.star__img {
  margin-left: 112px;
  transition: 0.5s;
}
.product__watching__text {
  margin-top: 11px;
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  line-height: 120.5%;
  color: #000000;
}
.product__boxes__price {
  margin-right: 5px;
  text-decoration: line-through;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  line-height: 120.5%;
  text-align: right;
  color: #8b8e99;
  mix-blend-mode: normal;
}
.product__boxes__like {
  display: none;
}
.like-img {
  position: absolute;
  top: 65px;
  left: 260px;
  transition: 0.5s;
}
.shops-img {
  position: absolute;
  top: 15px;
  left: 260px;
}

.prodect__watching:hover .product__boxes__like {
  display: block;
}
.product__end-btns {
  text-align: center;
}
.product__end__btn {

  margin-top: 69px;
  margin-bottom: 135px;
  width: 196px;
  height: 46px;
  background: #3858d6;
  border-radius: 15px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  transition: 0.5s;
}
.product__end__btn:hover {
  background-color: #fff;
  border: 2px solid #3858d6;
  color: #3858d6;
  transform: scale(1.1);

}
@media (max-width: 1100px) {
  .product__boxes {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }
  .product__watching__img {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .product__boxes {
    display: flex;
    flex-direction: column;
  }
  .product__watching__img {
    padding: 0;
  }
}
